<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="developwithpassion.specifications.rhinomocks" version="0.4.13.0" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net472" />
  <package id="Machine.Fakes" version="0.2.3.3" />
  <package id="Machine.Fakes.RhinoMocks" version="0.2.3.3" />
  <package id="Machine.Specifications" version="0.4.13.0" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net472" />
  <package id="RhinoMocks" version="3.6" />
</packages>